.app__tech .small-title {
    color: var(--dark);
    margin-bottom: 16px;
}

.app__tech .techs ul {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.app__tech .techs ul li {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.app__tech .techs ul li .image {
    width: 100px;
    height: 100px;
}

.app__tech .techs ul li img {
    width: 100%;
}

.app__tech .techs ul li span {
    text-align: center;
    display: inline-block;
    width: 100%;
    color: var(--dark);
}
